<section class="show_user">

<h1><%= @user.username %>'s Account</h1>

<h2>Change Account Information</h2>
<p>Change any of the following information to update account: </p>
<form class="divider" action="/users/<%= @user.slug %>" method="post">
        <input id="hidden" type="hidden" name="_method" value="PATCH">

        <label for="fname">First Name:</label>
        <input type="text" name="fname" id="fname" value="<%= @user.first_name %>"> <br>

        <label for="lname">Last Name:</label>
        <input type="text" name="lname" id="lname" value="<%= @user.last_name %>"><br>

        <label for="name">Username:</label>
        <input type="text" name="name" id="name" value="<%= @user.username %>"> <br>

        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="<%= @user.email %>"><br>

        <input type="submit"  class="show_user_button" value="Update Contact Info">
    </form>

<p>Change Password: </p>
    <form class="divider" action="/users/<%= @user.slug %>/password" method="post">
        <input id="hidden" type="hidden" name="_method" value="PATCH">

        <label for="password_old">Old Password:</label>
        <input type="password" name="password_old" id="password_old"><br>

        <label for="password1">New Password:</label>
        <input type="password" name="password1" id="password1"><br>
        
        <label for="password2">Verify New Password:</label>
        <input type="password" name="password2" id="password2"><br>
        
        <input type="submit" class="show_user_button" value="Update Password">
    </form>

<h1>Fridges:</h1>
<% @user.fridges.each do |fridge| %>
    <ul>
    <li class="fridge"><h3 class="fridge_name"><%= fridge.name %>  </h3> </li>
    <form class="inline" action="/fridges/<%= fridge.slug %>/edit" method="get">
      <input class="special" type="submit" value="Edit">
    </form>
    <form class="inline" action="/fridges/<%= fridge.slug %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input class="special" type="submit" value="Delete">
        <p> <warning><strong>Warning<strong></warning>: Deleting this fridge will delete all items contained within!<br>
        Fridge and its contents will also be deleted for shared accounts too!</p><br>

    </form>
    </ul>
  
<% end %>

<%= find_and_display_sharers(@user) %>

<% if !find_and_display_sharers(@user).empty? %>
    <h2>Unlink An Associated Account?</h2>
    <p>Have account owner of account to unlink provide username and password.<br> 
    <warning><strong>Warning<strong></warning>: The account to be unlinked will LOSE ACCESS to any shared fridges and all items within!</p>
    <form class="divider" action="/users/<%= @user.slug %>/unlink" method="post">
        <input id="hidden" type="hidden" name="_method" value="PATCH">

        <label for="name">Username:</label>
        <input type="text" name="name" id="name"> <br>
        
        <label for="password">Password:</label>
        <input type="password" name="password" id="password"><br>
        
        <input type="submit" class="show_user_button" value="Unlink Account">
    </form>
<% end %>

<h2>Link Another Account?</h2>
<p>This enables user <%= @user.username %> to give co-ownership of <%= @user.username %>'s Fridges and items<br>
to account entered below.
<p>Have account owner of account to link provide username and password:</p>

<form class="divider" action="/users/<%= @user.slug %>/link" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  <label for="name">Username:</label>
  <input type="text" name="name" id="name"> <br>
  
  <label for="password">Password:</label>
  <input type="password" name="password" id="password"><br>
  
  <input type="submit" class="show_user_button" value="Link Account">

</form>

<h2>Delete My Account</h2>
<p><warning><strong>Warning<strong></warning>: This cannot be undone.  Access to all your fridges and items will be lost
for you. <br>
Re-enter your username and password to verify:</p>
<form class="divider" action="/users/<%= @user.slug %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <label for="name">Username:</label>
  <input type="text" name="name" id="name"> <br>
  
  <label for="password">Password:</label>
  <input type="password" name="password" id="password"><br>
  
  <input type="submit" class="show_user_button" value="Delete Account">

</form>
</section>







