<content class="table_content">


  <% @fridges_hash.each do |fridge, items| %>
    <h2><%= fridge.name %></h2>
    <table>
    <tr>
      <th><a href="/items/sort_name">Name</a></th>
      <th><a href="/items/sort_quantity">Quantity</a></th>
      <th><a href="/items/sort_category">Category</a></th>
      <th><a href="/items/sort_date_sell_by">Sell By Date</a></th>
      <th><a href="/items/sort_date_expires">Expiration Date</a></th>
      <th><a href="/items/sort_grams">Weight(grams)</a></th>
      <th> Note</th>
    </tr>
    <% items.each do |item| %>
      <tr>
          <td><a href="/items/<%= item.slug %>"><%= item.name %></a></td>
          <td><%= item.quantity %></td>
          <% if item.category == "**/@@"%>
            <td><a href="/items/<%= item.slug %>">multiple(<%=@user.items.select_by_slug(item.slug).uniq{ |item| item.category}.size %>)</a></td>
          <% else %> 
            <td><%= item.category%></td>
          <% end %> 

          <% if item.date_sell_by == DateTime.new(1111,11,11)%>
            <td><a href="/items/<%= item.slug %>">multiple(<%=@user.items.select_by_slug(item.slug).uniq{ |item| item.date_sell_by}.size %>)</a></td>
          <% else %> 
            <td><%= item.date_sell_by.nil? ? nil : item.date_sell_by.strftime("%m/%d/%y")%></td>
          <% end %> 
          
          <% if item.date_expires == DateTime.new(1111,11,11)%>
            <td><a href="/items/<%= item.slug %>">multiple(<%=@user.items.select_by_slug(item.slug).uniq{ |item| item.date_expires}.size %>)</a></td>
          <% else %> 
            <td><%= item.date_expires.nil? ? nil : item.date_expires.strftime("%m/%d/%y")%></td>
          <% end %> 
          
          <% if item.grams == 0.0 %>
            <td><a href="/items/<%= item.slug %>">multiple(<%=@user.items.select_by_slug(item.slug).uniq{ |item| item.grams}.size %>)</a></td>
          <% else %> 
            <td><%= item.grams %></td>
          <% end %> 
          <% if item.note != nil %>
            <td><a href="/items/<%= item.slug %>">*</a></td>
          <% else%>
            <td><a href="/items/<%= item.slug %>">&nbsp;</a></td>
          <% end %>
      </tr>
    <% end %>
    </table>
  <% end %>
</content>