<section class="show_item">
  <h2><%= @fridge.name %>  </h2>
    
  <% @items.each.with_index(1) do |item, index|%>
 
    <table class="one_item">
      <tr class="one_item">
        <h3 class="title"><%= index %>. <%= item.name %>  </h3>
          <form method="post" action="/items/<%=item.id%>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete Item">
          </form>  
          <form method="get" action="/items/<%=item.id%>/edit">
            <input type="submit" value="Edit Item">     
          </form>
       
      </tr>
      <tr class="one_item"><h4>Category: <%= item.category %></h4></tr>
      <tr class="one_item"><h4>Sell By Date: <%= item.date_sell_by.strftime("%m/%d/%y") if !item.date_sell_by.nil? %></h4></tr>
      <tr class="one_item"><h4>Expiration Date: <%= item.date_expires.strftime("%m/%d/%y") if !item.date_expires.nil? %></h4></tr>
      <tr class="one_item"><h4>Weight(grams): <%= item.grams %></h4></tr>
      <tr class="one_item"><h4>Note: <%= item.note %></h4></tr>
    </table>
 
  <% end %>

</section>
  <%# display "Expiration date is in X days/ was X days ago" %>
  <%# display "Sell by date is in X days/was X days ago" %>

